---
layout: page
menu-title: Work
title: Work by 
order: 1
---
<h3 class="title">Portfolio</h3>
<ul class="cards">
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote  %}
           {% if post.header_image %}
           <li class="card  animated  bounceInUp">
              <a href="/{{ post.permalink }}">
                <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                        alt="{{ post.site_name }}" class="card__image" />
              </a>
            </li>
          {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<h3 class="title">UX / UI Concepts</h3>
<ul class="cards">
        {% for post in site.posts %}
            {% if post.type == 'post' %}
            <li class="card  animated  bounceInUp">
                <header class="card__header">
                    <time datetime="{{ post.date }}" class="circle  circle--date  drop-shadow  
                        text-shadow">{{ post.month }}</time>
                    <h4 class="title  card-offset">{{ post.title }} </h4>
                    {% if post.header_image %}
                    <h5 class="card__subtitle  card__subtitle--offset  text-shadow">{{ post.subtitle }} </h5>
                    <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                        alt="{{ post.site_name }}" class="card__image" />
                    
                    {% else %}
                    <h5 class="card__subtitle  card__subtitle--offset  text-shadow">
                        {{ post.subtitle }} </h5>
                    {% endif %}   
                </header>
                <p><strong>{{ post.intro }}</strong></p>
                {{ post.excerpt }}
                <footer class="card__footer">
                    <a href="/{{ post.permalink }}" class="btn  text-shadow">Read More 
                        <i class="fa  fa-caret-down"></i></a>
                </footer>
            </li>
            {% endif %}
    {% endfor %}
</ul>
<h3 class="title">Blog Posts</h3>
<ul class="blog-list">
    {% for post in site.posts %}
        {% if post.type == 'words' %}
            <li class="blog-post  animated  bounceInUp">
                <h4 class="title">{{ post.title }} </h4>
                <p><strong><time datetime="{{ post.date }}">{{ post.month }}</time> </strong><br />
                   {{ post.intro }} </p>
                {{ post.excerpt }}
                <a href="/{{ post.permalink }}" class="card__link">Continue Reading... </a>
            </li>
        {% endif %} 
    {% endfor %}
</ul>
<h3 class="title">Older Work</h3>
<ul class="cards">
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote and post.older  %}
           {% if post.header_image %}
           <li class="card  animated  bounceInUp">
              <a href="/{{ post.permalink }}">
                <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                        alt="{{ post.site_name }}" class="card__image" />
              </a>
            </li>
          {% endif %}
        {% endif %}
    {% endfor %}
</ul>
