---
layout: page
menu-title: Work
title: Work by 
order: 1
---
<h3 class="title">Hello </h3>
<p>I'm <a href="/about">Alan</a>. I design and build <a href="#work">user interfaces</a> for web 
    sites and web applications, with a focus on <a href="#ux">good user experience</a>. I've been 
    doing this for <a href="/skills">18 years</a>. I live in <a href="http://baltimore.org" 
    target="_blank">Baltimore</a><sup><i class="fa  fa-external-link  fa-fw"></i></sup> with my 
    wife, three cats and one dog. I occasionally <a href="#blog">write about my work</a> and more 
    frequently <a href="http://www.funkierthanthou.net">blog about music, movies, books and so 
    on</a><sup><i class="fa  fa-external-link  fa-fw"></i></sup>. I work at 
    <a href="http://www.acgisoftware.com" target="_blank">ACGI software</a><sup><i class="fa  
    fa-external-link  fa-fw"></i></sup> in Columbia, MD. </p>
<h3 class="title" id="work">Work</h3>
<ul class="featured-items">
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote and post.header_image  %}
           {% unless post.older %}
           <li class="featured-item  {{ post.feature_class }}">
                <a href="/{{ post.permalink }}" 
                    class="featured-item-link  {{ post.feature_class }}">
                        <img src="/images/logos/{{post.feature_logo}}" alt="{{ post.site_name }}"
                            class="featured-item-logo" />
                        <h4>{{ post.title }}, <time datetime="{{ post.date }}">{{ post.year }}</time> </h4>            
                </a>
            </li>
          {% endunless %} 
        {% endif %}
    {% endfor %}
</ul>
<h3 class="title" id="ux">UX / UI Concepts</h3>
<ul class="portfolio-list-links">
    {% for post in site.posts %}
        {% if (post.type == 'post') and post.header_image %}
            {% unless post.older %}
            <li><time datetime="{{ post.date }}">{{ post.month }}</time>
                <a href="/{{ post.permalink }}">{{ post.title }}</a></li>
            {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
<h3 class="title" id="blog">Writing</h3>
<ul class="portfolio-list-links">
    {% for post in site.posts %}
        {% if post.type == 'words' %}
            <li><time datetime="{{ post.date }}">{{ post.month }}</time>
                <a href="/{{ post.permalink }}">{{ post.title }} </a>
            </li>
        {% endif %} 
    {% endfor %}
</ul>
<h3 class="title" id="older-work"">More Work</h3>
<ul class="featured-items">
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote and post.older  %}
            <li class="featured-item  {{ post.feature_class }}">
                <a href="/{{ post.permalink }}" 
                    class="featured-item-link  {{ post.feature_class }}">
                        <!--<img src="/images/logos/{{post.feature_logo}}" alt="{{ post.site_name }}"
                            class="featured-item-logo" />-->
                        <h4>{{ post.title }}, <time datetime="{{ post.date }}">{{ post.year }}</time> </h4>            
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul><ul class="portfolio-list-links  columns-2">
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.older  %}
            {% unless post.promote %}
            <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                <a href="/{{ post.permalink }}">{{ post.title }} </a></li>
           {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
