---
layout: page
menu-title: Work
title: Work by 
order: 1
---
<h3>Portfolio</h3>
<ul>
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote and post.header_image  %}
           {% unless post.older %}
           <li>
              <a href="/{{ post.permalink }}">
                <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                        alt="{{ post.site_name }}" />
              </a>
            </li>
          {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
<h3 class="title">UX / UI Concepts</h3>
<ul>
        {% for post in site.posts %}
            {% if (post.type == 'post') and post.header_image %}
                {% unless post.older %}
                    <li>
                        <a href="/{{ post.permalink }}">
                            <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                                alt="{{ post.site_name }}" />
                        </a>
                    </li>
                {% endunless %}
            {% endif %}
    {% endfor %}
</ul>
<h3>Blog Posts</h3>
<ul>
    {% for post in site.posts %}
        {% if post.type == 'words' %}
            <li>
                <h4><a href="/{{ post.permalink }}" class="card__link">
                    <time datetime="{{ post.date }}">{{ post.month }}</time> {{ post.title }} </a></h4>
            </li>
        {% endif %} 
    {% endfor %}
</ul>
<h3>Older Work</h3>
<ul>
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.promote and post.older  %}
           {% if post.header_image %}
           <li>
              <a href="/{{ post.permalink }}">
                <img src="{{ site.imageurl }}/headers/{{ post.header_image }}" 
                        alt="{{ post.site_name }}" />
              </a>
            </li>
          {% else %}
          <li>
            <h4><a href="/{{ post.permalink }}"><time datetime="{{ post.date }}">{{ post.year }}</time> 
                    {{ post.site_name }} </a></h4>
            </li>
          {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<h3>Everything Else</h3>
<ul>
    {% for post in site.posts %}
        {% if (post.type == 'portfolio') and post.older  %}
           {% unless post.promote %}
           <li>
              <h4><a href="/{{ post.permalink }}"><time datetime="{{ post.date }}">{{ post.year }}</time> 
                    {{ post.site_name }}</a> </h4>
            </li>
          {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
