---
layout: page
menu-title: Blog
title: Work by 
order: 2
---

<h3 class="title">Blog </h3>
<p>Things that don't really fit in the <a href="/">Work</a> section go here. It's an infrequent endeavour. </p>
<ul class="portfolio-list-links">
    {% for post in site.posts %}
        {% if post.type == 'words' %}
            <li><time datetime="{{ post.date }}">{{ post.month }}</time>
                <a href="/{{ post.permalink }}">{{ post.title }} </a>
            </li>
        {% endif %} 
    {% endfor %}
</ul>

