---
layout: page
title: Contact
permalink: contact/
order: 4
---
<h3 class="title">Contact Me </h3>
<p>Ask me a question! Use one of the following social network links to get in touch. </p>
{% if site.twitter_username %}
    <p><a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="ss-icon  ss-twitter"></i></a>
        <a href="https://twitter.com/{{ site.twitter_username }}">
        {{ site.twitter_username }}</a> </p>
{% endif %}
{% if site.linkedin_username %}
    <p><a href="http://www.linkedin.com/in/{{ site.linkedin_username }}/">
        <i class="ss-icon  ss-linkedin"></i></a>
        <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}/">
        {{ site.linkedin_username }}</a> </p>
{% endif %}
{% if site.github_username %}
    <p><a href="https://github.com/{{ site.github_username }}/">
        <i class="ss-icon  ss-github"></i></a>
        <a href="https://github.com/{{ site.github_username }}/">
        {{ site.github_username }}</a> </p>
{% endif %}