---
layout: page
menu-title: Home
title:  
order: 1
---
<section class="media  media--responsive">
    <div class="media__body">
        <p>Hello, I'm <a href="/about">Alan</a>. I design and build <a href="#work">user interfaces</a> 
        for web applications, with a particular eye for <a href="#ux">good user experience</a>. I've 
        been working with the web for 20 years, so I can speak developer as well as user experience. 
        I live in Baltimore with my wife, three cats and a crazy pit bull. I work at ACGI Software 
        in Columbia, MD. </p>
    </div>
</section>
<h3 class="title" id="work">Work</h3>
<div class="portfolio-group  acgi  media">
    <div class="media__img  featured-item  acgi">
        <img src="/images/logos/acgi-logo.svg" alt="ACGI logo" class="featured-item-logo" />
    </div>
    <div class="media__body">
        <h4>ACGI Software </h4>
        <p>ACGI provide SaaS software for association manaegement and credentialing/certification. 
            More details coming soon.</p>
        <ul class="portfolio-list-links">
            <li><time datetime="2018">2018</time> <a href="#">Event Creation Wizard</a></li>
            <li><time datetime="2018">2018</time> <a href="#">Dashboards with Data Visualization</a></li>
            <li><time datetime="2018">2018</time> <a href="#">Social Login</a></li>
            <li><time datetime="2017">2017/18</time> <a href="#">Personas</a></li>
            <li><time datetime="2017">2017/18</time> <a href="#">Style Guide / Material Design</a></li>
            <li><time datetime="2017">2017</time> <a href="#">Navigation</a></li>
            <li><time datetime="2016">2016</time> <a href="#">Merging Three Shopping Carts</a></li>
        </ul>
    </div>
</div>

<h3 class="title" id="work">Work</h3>
<div class="portfolio-group  regent  media">
    <div class="media__img  featured-item  financial-calculator">
        <img src="/images/logos/regent-logo.svg" alt="Regent Education logo" class="featured-item-logo" />
    </div>
    <div class="media__body">
        <h4>Regent Education </h4>
        <p>Regent offer a suite of SaaS software allowing institutions such as colleges to manage
            student finance. I was their UX Engineer.</p>
        <ul class="portfolio-list-links">
            {% for post in site.posts %}
                {% if post.category == 'regent'  %}
                    <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                        <a href="/{{ post.permalink }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="portfolio-group  pbs  media">
    <div class="media__img  featured-item  pbslm">
        <img src="/images/logos/pbs-logo.svg" alt="PBS logo" class="featured-item-logo" />
    </div>
    <div class="media__body">
        <h4>PBS Learning Media </h4>
        <ul class="portfolio-list-links">
            {% for post in site.posts %}
                {% if post.category == 'pbs'  %}
                    <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                        <a href="/{{ post.permalink }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
            
    </div>
</div>

<div class="portfolio-group  erickson  media">
    <div class="media__img  featured-item  erickson-living">
        <img src="/images/logos/erickson-logo.svg" alt="Erickson Living logo" 
            class="featured-item-logo" />
    </div>
    <div class="media__body">
        <h4>Erickson Living </h4>
        <p>Erickson Living manages high-end retirement homes across the US. </p>
        <ul class="portfolio-list-links">
            {% for post in site.posts %}
                {% if post.category == 'erickson'  %}
                    <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                        <a href="/{{ post.permalink }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
            
    </div>
</div>

<div class="portfolio-group  deluxe  media">
    <div class="media__img  featured-item  crayon">
        <img src="/images/logos/deluxe-logo.svg" alt="Deluxe Checks logo" 
            class="featured-item-logo" />
    </div>
    <div class="media__body">
        <h4>Deluxe Checks </h4>
        <p>Deluxe Checks print custom designs onto banking checks </p>
        <ul class="portfolio-list-links">
            {% for post in site.posts %}
                {% if post.category == 'deluxe'  %}
                    <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                        <a href="/{{ post.permalink }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
            
    </div>
</div>

<h3 class="title" id="older-work">Web Design, etc.</h3>
<ul class="portfolio-list-links  columns-2">
    {% for post in site.posts %}
        {% if post.type == 'portfolio'  %}
            {% unless post.category %}
            <li><time datetime="{{ post.date }}">{{ post.year }}</time>
                <a href="/{{ post.permalink }}">{{ post.title }} </a></li>
           {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
