---
layout: page
title: 'Skills &amp; Experience'
menu-title: 'Skills <span class="only-big">&amp; Experience</span>'
permalink: skills/
order: 4
---
<h3 class="title">You got to have Skills </h3>
        {% include cv_link.html %}
        <h4 class="subtitle">Overview</h4>
        <ul>
            <li>17 years <strong>commercial web design and front-end development</strong> </li>
            <li>13 years <strong>User Experience (UX)</strong> and <strong>User Interface 
                (UI)</strong> design </li>
            <li>13 years <strong>analytics reporting</strong> experience </li>
            <li>11 years organic Search Engine Optimisation (<strong>SEO</strong>) </li>
            <li>11 years client-facing <strong>consultancy</strong> </li>
            <li>11 years staff / team <strong>supervision and mentoring</strong> </li>
            <li>9 years web project analysis, planning, scheduling and coordination </li>
            <li>7 years <strong>web strategy development</strong> </li>
            <li>6 years <strong>relationship management</strong> with third-party vendors, 
                consultants and freelancers  </li>
            <li>5 years <strong>resource management</strong>, budgeting and planning  </li>
        </ul>

        <h4 class="subtitle">UX / UI </h4>
        <ul>
            <li>17 years producing visual designs for web sites, banner ads, landing pages and 
                marketing emails </li>
            <li>12 years producing <strong>site map</strong> and <strong>wireframes</strong>, and 
                designing information architecture (<strong>IA</strong>) </li>
            <li>12 years designing for dynamic, database-driven web sites and 
                <strong>CMS</strong> </li>
            <li>12 years designing and optimizing for <strong>accessibility</strong> </li>
            <li>8 years <strong>UX</strong> and <strong>UI</strong> for CMS interfaces and web 
                applications </li>
            <li>4 years <strong>responsive design</strong> </li>
        </ul>

        <h4 class="subtitle">Front-end Development </h4>
        <ul>
            <li>17 years hand-coding <strong>HTML</strong> – 7 years XHTML – 4 years <strong>HTML 
                5</strong> </li>
            <li>14 years <strong>CSS</strong> – 4 years <strong>CSS 3</strong> with <strong>Media 
                Queries</strong> – 1 year <strong>LESS</strong> – 1 year <strong>OOCSS</strong> </li>
            <li>8 years producing content-first, device independent web sites </li>
            <li>7 years <strong>jQuery / JavaScript</strong> for <strong>progressive 
                enhancement</strong> – 3 years with HTML 5 </li>
        </ul>
        {% include cv_link.html %}
        
