<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}: {{ site.subtitle }}</title>
    <meta name="description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/f33ddfee-6944-4a82-976c-1f60e393cd72.css"/>
	<link href="{{ "/css/alanmoore.css?i-1" | prepend: site.baseurl }}" rel="stylesheet">
	
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    {% if page.header_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@alanmooredesign">
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@alanmooredesign" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}, on alanmoore.info{% else %}{{ site.title }}: {{ site.subtitle }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    {% if page.header_image %}
        <meta name="twitter:image" content="{{ site.imageurl }}/headers/{{ page.header_image }}" />
    {% else %}
        <meta name="twitter:image" content="{{ site.imageurl }}photo.jpg" />
    {% endif %}
</head>

