.button-row {
    text-align: center;
    display: block;
    width: 100%;
    margin: 1em 0;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid $dark-grey;
    border-radius: 0.5em;
    padding: 0.3em 1em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: $dark-grey;
    margin: 3px;
    box-shadow: 0 0 0 3px white;
    &:hover {
        color: white;
        //border-color: $dark-grey;
        background-color: $dark-grey;
    }
}

.button--primary {
    border-width: 2px;
    border-color: white;
    margin: 0;
    box-shadow: 0 0 0 3px $dark-grey, inset 0 0 0 2px $dark-grey;
    &:hover {
        
    }
}

.icon {
    &::before {
        display: inline-block;
        width: 1.6em;
        height: 1em;
        content: '';
    }
    &::after {
        display: inline-block;
        width: 1.6em;
        height: 1em;
        content: '';
    }
}   

.icon--document {
    &::before {
        background-image: url(../images/icons/icon-document.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    &::after {
        display: none;
    }
    &:hover {
        &::before {
                background-image: url(../images/icons/icon-document--reverse.svg);
        }
    }
} 

.icon--external-link {
    &::before {
        display: none;
    }
    &::after {
        background-image: url(/images/icons/icon-external-link.svg);
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: top right;
        width: .8em;
    }
}
    