.featured-items {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
}

.featured-item {
    list-style-type: none;
    background: none;
    flex-grow: 1;
    align-items: center;
    float: left;
    min-width: 25%;
    width: 45%;
    padding: 0;
    margin: 0.5rem;
    vertical-align: middle;
}

.featured-item-link {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    background-color: $blue;
    padding: 1.4em;
}

.featured-item-logo {
    width: auto;
    height: auto;
    max-height: 8rem;
}

.student-portal {       
    background-color: #FF952D;    
}

.financial-calculator {
    background-color: #428BCA;
}

.pbslm {
    background-color: #556272;
}

.erickson-living {
    background-color: #6DB141;
}

.crayon {
    background-color: #C6100F;
}

time {
    text-transform: uppercase;
}

li time::after {
    content: '\0000a0';
}

.portfolio-list-links {
    li{
        background-image: none;
        padding-left: 0;
    }
    a {
        color: $dark-grey;
    }
    a:hover {
        color: $blue;
    }
}

.title {
    font-size: 2rem;
    color: $blue;
    text-align: center;
    margin-top: 3rem;
}

.columns-2 {
    column-count: 2;
    columns: 2;
    column-width: auto;
    li { 
        min-width: 40%;
        width: auto;
    }
}

.uppercase {
    text-transform: uppercase;
}

.img--border {
    border: 1px solid $light-grey;
    margin-bottom: 2rem;
}




 