.featured-items {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.featured-item {
    list-style-type: none;
    background: none;
    flex-grow: 1;
    align-items: center;
    float: left;
    width: 100%;
    @media(min-width:$sm) {
        width: 45%;    
    }
    @media(min-width:$md) {
        width: 30%;    
    }
    padding: 0;
    margin: 0.5rem;
    vertical-align: middle;
    line-height: 1.2em;
}

.featured-item-link {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    background-color: $blue;
    padding: 1.4em;
    padding-bottom: 0;
    &:hover {
        background-color: $dark-grey;
        color: white;
    }
}

.featured-item-logo {
    width: auto;
    height: auto;
    max-height: 4rem;
    @media(min-width:$sm) {
        max-height: 6rem;    
    }
    @media(min-width:$md) {
        max-height: 7rem;    
    }
    
}

.student-portal {       
    background-color: #FF952D;    
}

.financial-calculator {
    background-color: #428BCA;
}

.pbslm {
    background-color: #556272;
}

.erickson-living {
    background-color: #6DB141;
}

.crayon {
    background-color: #C6100F;
}

time {
    text-transform: uppercase;
}

li time::after {
    content: '\0000a0';
}

.portfolio-list-links {
    li{
        background-image: none;
        padding-left: 0;
        margin-left: 0;
    }
    a {
        color: $dark-grey;
    }
    a:hover {
        color: $blue;
    }
}

.title {
    font-size: 2rem;
    color: $blue;
    text-align: center;
    margin-top: 3rem;
}

.columns-2 {
    column-width: auto;
    @media(min-width:$md) {
        column-count: 2;
        columns: 2;    
    }
    li { 
        min-width: 40%;
        width: auto;
    }
}

.uppercase {
    text-transform: uppercase;
}

.img--border {
    border: 1px solid $light-grey;
    margin-bottom: 2rem;
}




 