
@import "../bower_components/inuit-defaults/settings.defaults";

@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";

@import "_fonts"; 

$blue:      #69B9D4;
$yellow:    #FED831;
$green:     #8BC53F;
$dark-grey: #4a4a4a;
$light-grey:rgba(184, 184, 184, 0.9);
$shadow:    rgb(139, 139, 139);

$max-page-width: 650px;
$gutter: 100px;
$max-page-plus-gutter: $max-page-width + $gutter;

$xs: 320px;
$sm: 475px;
$md: 600px;
$lg: 1070px;

$card-padding-sides: 15px;

/*
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-46Ligh';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-76Bold';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-66Medi';
*/


body {
    font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    color: $dark-grey;
    text-align: center;
}

b, i {
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

em {
    font-family: 'HelveticaNeueW01-46Ligh', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: 'HelveticaNeueW01-65Medi', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: normal;
}


strong em {
    font-family: 'HelveticaNeueW01-66Medi', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: normal;
}

a {
    color: $blue;
    &:hover {
        color: black;
    }
}

pre {
    font-size: 0.8em;
    border-left: 7px solid $light-grey;
    padding-left: 7px;   
}

p,
ul {
    margin-bottom: 1em;
    line-height: 1.4em;  
    margin-left: 0; 
    padding-left: 0;
    list-style-type: none;
}

p {
    margin-top: 0;
}

li {
    margin-bottom: 0.4em;   
    list-style-type: none;
    background: url(../images/bullet.svg) left 5px no-repeat;
    background-size: 1em 0.78em;   
    margin-left: 0;
    padding-left: 1.6em;
}

img { 
    width: 100%;
    max-width: 100%;
    height: auto;
}

.drop-shadow {
    box-shadow: 0px 3px 0px 0px rgba(139,139,139,0.75);
}

.text-shadow {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.btn {
    display: inline-block;
    height: 37px;
    background: $blue;
    border-radius: 8px;
    /* Read More  ▾: */
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    color: white;
    line-height: 18px;
    padding: 8px 12px;
    text-decoration: none;
    &:hover {
        background: $green;
        color: white;
    }
}

.page {
    text-align: center;
    width: 100%; // fixes pre/code/.hightlighy {} overflow issues
}

.fixme {
    background-color: $green;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    @media (min-width: $sm) {
        position: fixed;
        top: 0;
        left: 0;
        line-height: 1;
        z-index: 500;
    }
    @media (min-width: $lg) {
        width: 300px;
        height: 10000px;
    }
    
}

.header-bar {
    padding-top: 23px;
    padding-left: 12px;
    max-width: $max-page-width;
    margin: 0 auto;
    text-align: left;
    @media (min-width: $sm) {
        background-image: url(../images/alanhead.png); 
        background-repeat: no-repeat;
        background-position: 9px 14px;
        background-size: 83px 83px;
        padding-left: $gutter;
        padding-bottom: 13px;
    }
    @media (min-width: $max-page-width) {
        background-position: 9px 18px;
        min-height: 5.625em;
        padding-bottom: 0;
    }
    @media (min-width: $max-page-plus-gutter) {
        width: ($max-page-plus-gutter);
        max-width: ($max-page-plus-gutter);
        padding-left: $gutter;
    }
    @media (min-width: $lg) {
        width: 100%;
        max-width: 100%;
        padding-left: 85px;
        padding-top: 128px;
        text-align: left;
        background-position: 50% 23px;
    }
}

.site-title {
    font-size: 48px;
    line-height: 40px;
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 170px;
    @media (min-width: 375px) {
        width: 100%;
    }
    @media (min-width: $max-page-width) {
        width: 170px;
    }
}

.site-subtitle {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: normal;
    margin-top: 0;
    @media (min-width: 320px) {
        
    }
    @media (min-width: $lg) {
        font-size: 22px;
        width: 170px;
    }
}

.menu-toggle {
    position: fixed;
    top:0;
    right: 12px;
    display:block;
    background-color: $yellow;
    padding: 12px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
       -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);
    @media (min-width: $sm) {
        top: 87px;
        right: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 4px;
        -webkit-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.2);
           -moz-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.2);
                box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.2);
    }
    @media (min-width: $max-page-width) {
        display: none;
    }
}

.main-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-size: 20px;
    display: none;
    @media (min-width: $max-page-width) {
        height: auto;
        display: inline-block;
        position: static;
    }
}

.main-nav--mobile {
    display: inline-block;
    font-size: 40px;
    background-color: $green;
    position: static;
    height: 100%;
    padding-bottom: 5000px;
    @media (min-width: $max-page-width) {
        display: none;
    }
}

.main-nav__items {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    text-align: left;
    margin: 0 auto;
    .main-nav-mobile & {
        text-align: center;
    }
    @media (min-width: $max-page-width) {
        width: $max-page-width;
        display: inline-block;
        margin: 0;
    }
    @media (min-width: $max-page-plus-gutter) {
        width: ($max-page-plus-gutter);
        padding-left: $gutter - 12px;
    }
    @media (min-width: $lg) {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.main-nav__item,
.main-nav__item--social {
    background: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: inherit;
    width: 100%;
    @media (min-width: $max-page-width) {
        width: auto;
    }
    @media (min-width: $lg) {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.main-nav__item--social {
    vertical-align: middle;
    @media (min-width: $lg) {
        width: 90%;
        padding-left: 70px;
        margin-left: 5%;
    }

}

.main-nav__link {
    color: inherit;
    text-decoration: none;
    padding: 5px 12px;       
    margin-left: 4px;
    width: 100%;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: $yellow;
        background: rgba(0,0,0,0.2); 
    }
    @media (min-width: $max-page-width) {
        width: auto;
    }
    @media (min-width: $lg) {
        width: 90%;
        padding-left: 70px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
        display: block;
    }
}

.main-nav__link--right {
    text-align: right;
    font-size: 0.5em;
}

.main-nav__link--social {
    height: 30px;
    width: 30px;
    line-height: 25px;
    padding: 5px;
    vertical-align: baseline;
    border-radius: 50%;
    @media (min-width: $lg) {
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin-left: 0px;
        font-size: 32px;
        display: inline-block;
    }
}

.main,
.footer {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @media (min-width: $max-page-plus-gutter) {
        margin: 0 auto;
        max-width: $max-page-plus-gutter;
        padding-left: 100px;
    }
    @media (min-width: $lg) {
        max-width: $max-page-width + 385px;
        padding-left: 385px;
    }
    @media (min-width: $max-page-width) {
        max-width: $max-page-width;
    }
    @media (min-width: $max-page-plus-gutter) {
        margin: 0 auto;
        max-width: $max-page-plus-gutter;
        padding-left: 100px;
    }
    @media (min-width: $lg) {
        max-width: $max-page-width + 385px;
        padding-left: 385px;
        margin-left: 0;
    }
}

.main {
    text-align: left;
    margin-top: 17px;
    @media (min-width: $sm) {
        margin-top: 145px;
    }
    @media (min-width: $max-page-width) {
        margin-top: 175px;
    }
    @media (min-width: $lg) {
        margin-top: 56px;
    }
}

.page-title {
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: $blue;
    margin-bottom: 0;
    margin-top: 20px;
    @media (min-width: $sm) {

    }
}

.title {
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    color: $blue;
    margin: 0;
    .card__footer + & {
        margin-top: 1em;
    }
    @media (min-width: $sm) {
        font-size: 32px;
        line-height: 36px;
    }
}

.subtitle {
    font-family: 'HelveticaNeueW01-75Bold', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;  
    margin-top: 0;
    margin-bottom: 0;
    .title + & {
        margin-top: 0.4em;
    }
    @media(min-width: $sm) {
        font-size: 16px;
    }
}

.cards {
    margin-top: 2em;
}

.card {
    /* Rectangle 4: */
    background: white;
    padding: 12px ($card-padding-sides / 1.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    line-height: 1;
    border-bottom: 8px solid $yellow;
    margin-bottom: 1em;
    overflow: hidden;
    @media (min-width: $sm) {
        padding-left: $card-padding-sides;
        padding-right: $card-padding-sides;
    }
}

.card__header {
    margin-bottom: 10px;
    min-height: 80px;
    line-height: 0; /* tightens gap between pic and subheader */
}

.circle {
    background-color: $green;
    border-radius: 50%;
    color: white;
    display: block;
    font-family:'HelveticaNeueW01-65Medi';
    font-size: 20px;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    position: relative;
    padding-top:30px;
    padding-bottom: 30px;
    margin-bottom: -76px;
    .card__header & {
        margin-left: -8px;
    }
}

.circle--date {
    font-size: 18px; 
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle--year {

}

.circle--head {
    background-image: url(../images/alanhead.png); 
    background-size: 78px 78px;
    background-position: center middle;
    background-repeat: no-repeat;
}

.circle--img {
    width: 76px; 
    height: 72px; 
    padding: 4px;
}

.card-offset {
    margin-left: 82px;
}


.card__image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.card__subtitle {
    display: inline-block;
    background-color: $blue;
    color: white;
    font-weight: normal;
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    line-height: 18px;
    padding: 7px 9px;
    margin: 0;
    width: 100%;
    font-family:'HelveticaNeueW01-65Medi';

}

.card__subtitle--offset {
    padding-left: 82px;
}

.card__footer {
    border-top: 1px dashed rgba(151,151,151,0.50);
    text-align: right;
    padding: 12px ($card-padding-sides) 0 $card-padding-sides;
    width: 104.6%;
    display: inline-block;
    margin-left: (0 - $card-padding-sides);
    margin-top: 10px;
}

.card__link {
    font-family: 'HelveticaNeueW01-65Medi';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}

.gallery {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 12px;
    background-color: $dark-grey;
}

.gallery__item {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    background-image: none;
    text-align: center;
    img {
        max-width: 96%;
        height: auto;
        border: 1px solid white;
    }
}

.footer {
    margin-bottom: 4em;
    text-align: center;
    font-size: 13px;
    
}

.footer__inner {
    border-top: 1px solid #8BC53F;
    border-bottom: 1px solid #8BC53F;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p {
        margin: 0;
    }
}

.footer__list,
.footer__list-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    padding-top: 0.25em;
    background: none;
}

.footer__list-item {
    margin-left: 3px;
    margin-right: 3px; 
    & .ss-icon {
        font-size: 1.2em;
        line-height: 0.1;
    }
}

table {
    margin-bottom: 1em;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid $light-grey;
    padding-right: 5px;
}

.page {
    transition: opacity .5s;
}

.visible {
    opacity: 1;
}

.js-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    @media (min-width: $max-page-width) {
        position: static;
    }
}

.js-active.visible {
    opacity: 1;
    height: auto;
}

.fixed {
    position: fixed;
}

.menu-hide {
    @media (min-width: $max-page-width) {
        display: none;
    }
}

.half,
.quarter {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.quarter {
    width: 24%;
}

.page-number {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
}

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }