/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/

@import "../bower_components/inuit-defaults/settings.defaults";

@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";

@import "_fonts"; 

@import "../bower_components/inuit-page/base.page";

@import "../bower_components/inuit-media/objects.media";

@import "../bower_components/inuit-clearfix/trumps.clearfix";


/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$blue:          #69B9D4;
$yellow:        #FED831;
$green:         #8BC53F;
$dark-grey:     #363636;
$light-grey:    rgba(184, 184, 184, 0.9);
$shadow:        rgb(139, 139, 139);

$max-page-width: 42em;

$xs: 22rem;
$sm: 34rem;
$sm-height: 38em;
$md: 43rem;
$lg: 77rem;


/*
font-family: 'Realtime-Regular';
font-family: 'Realtime-Light';
font-family: 'Realtime-Semibold';
font-family: 'Realtime-Bold';
*/





/*------------------------------------*\
    #ROOT-ELEMENTS
\*------------------------------------*/

body {
    font-family: 'Realtime-Regular', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
    font-size: 16px;
    @media(min-width: $md) {
        font-size: 1rem;
    }
    @media(min-width: $lg) {
        font-size: 1.2rem;
    }
    color: $dark-grey;
    text-align: center;
}

b, i {
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

em {
    font-family: 'Realtime-SemiBold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: 'Realtime-Bold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
}


strong em {
    font-family: 'Realtime-Bold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
}

a {
    color: $dark-grey;
    background-image: linear-gradient(to bottom,$dark-grey 55%,$dark-grey 55%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;
    background-position: 0 98%;
    text-shadow: -2px 1px 0 white,-1px 1px 0 white,0 1px 0 white,1px 1px 0 white,2px 1px 0 white,-1px -1px 0 white,1px -1px 0 white,-1px 0 0 white,1px 0 0 white;
    transition: color 600ms, background-image 600ms;
    &:hover {
        color: $blue;
        background-image: linear-gradient(to bottom,$blue 75%,$blue 75%);
    }
}

pre {
    font-size: 0.8em;
    border-left: (0.5rem) solid $light-grey;
    padding-left: (0.5rem);   
}

p,
ul {
    margin-bottom: 1em;
    line-height: 1.6em;  
    margin-left: 0; 
    padding-left: 0;
    list-style-type: none;
}

p {
    margin-top: 0;
}

li {
    margin-bottom: 0.4em;   
    list-style-type: none;
    background: url(../images/bullet.svg) left 0.6em no-repeat;
    background-size: 0.8em 0.6em;   
    margin-left: 0;
    padding-left: 1.2em;
    margin-left: -1.2em;
}

img { 
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
}




/*------------------------------------*\
    #TEXT-STYLES
\*------------------------------------*/





/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.text-shadow {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.btn {
    display: inline-block;
    height: 37px;
    background: $blue;
    border-radius: 8px;
    /* Read More  ▾: */
    font-size: 1rem;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    color: white;
    line-height: 18px;
    padding: 8px 12px;
    text-decoration: none;
    &:hover {
        background: $green;
        color: white;
    }
}




/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page {
    text-align: center;
    width: 100%; // fixes pre/code/.hightlighy {} overflow issues
}




/*------------------------------------*\
    #HEADER-BAR
\*------------------------------------*/

.fixme {
    background-color: $green;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-bar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: $max-page-width;
    margin: 0 auto;
    @media(min-height: $sm-height) {
        padding-top: 105px;
        background-image: url(../images/alanhead.png); 
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 83px 83px;
        background-position: 50% 1rem;
    }
    text-align: center;
}

.site-title {
    font-size: 3em;
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    line-height: 1em;
}

.site-subtitle {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}

.site-title,
.site-subtitle {
    width: 100%;
    text-align: center;
}



/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/



.main-nav {
    max-width: $max-page-width;
    margin: 0 auto;
    font-size: 1.3em;
    background-color: white;
    text-align: center;
}

.main-nav__items {
    width: 94%;
    list-style-type: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    max-width: $max-page-width;
    margin: 0 auto;
}

.main-nav__item,
.main-nav__item--social {
    background: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: $green;
    padding: 0.3em 0.5em;       
    display: inline-block;
    font-family: 'Realtime-SemiBold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
}

.main-nav__item--social {
    text-transform: none;
}

.main-nav__link {
    color: $dark-grey;
    font-family: 'Realtime-SemiBold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;
    text-decoration: none;
    &:hover {
        background: transparent;
        color: $green;
    }
}

.main-nav__item--social {
    font-size: 0.7em;
    color: $dark-grey;
    @media(max-height:$sm-height) {
        display: none;
    }
}





/*------------------------------------*\
    #PAGE-SECTIONS
\*------------------------------------*/

.main,
.footer {
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    max-width: $max-page-width;
}

.main {
    text-align: left;
    margin-top: 2em;
}




/*------------------------------------*\
    #BODY-HEADERS
\*------------------------------------*/

.page-title {
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 2.6em;
    color: $blue;
    margin-bottom: 0;
    margin-top: 1em;
}

.title { 
    font-family: 'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 2.2em;
    line-height: 2em;
    color: $blue;
    margin: 0;
}

.subtitle {
    font-size: 1.1em;
    font-family: 'Realtime-Bold', Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: normal;  
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    .title + & {
        margin-top: 0.4em;
    }
}




/*------------------------------------*\
    #PORTFOLIO-GALLERIES
\*------------------------------------*/

.circle-img {
    border-radius: 50%;
    border: 3px solid $green;
}

.media__img {
    width: 4rem;
    height: auto;
    @media(min-width: $sm) {
        width: 6rem;
    }
    @media(min-width: $md) {
        width: 8rem;
    }

}



/*------------------------------------*\
    #PORTFOLIO-GALLERIES
\*------------------------------------*/

.gallery {
    width: 110%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    margin-left: -5%;
    background-color: $dark-grey;
}

.gallery__item {
    list-style-type: none;
    padding: 0.85rem;
    margin: 0;
    background-image: none;
    text-align: center;
    img {
        background-color: white;  // in case of png transparency
        max-width: 96%;
        height: auto;
        border: 1px solid white;
    }
}





/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

.footer {
    margin-top: 6em;
    margin-bottom: 4em;
    text-align: left;
    font-size: 0.9rem;
    text-align: center;  
}

.footer__inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    p {
        margin: 0;
    }
}

.footer__list,
.footer__list-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    background: none;
}

.footer__list {
    text-align: center;  
    width: 100%;  
    margin-top: 1em;
}

.footer__list-item {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px; 
    padding-right: 2px; 
}





/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
    margin-bottom: 1em;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid $light-grey;
    padding-right: 5px;
}





/*------------------------------------*\
    #TEXT-ALIGNMENT
\*------------------------------------*/

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }



@import "new-look";
