/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/

@import "../bower_components/inuit-defaults/settings.defaults";

@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";

@import "_fonts"; 

@import "../bower_components/inuit-page/base.page";


/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$blue:      #69B9D4;
$yellow:    #FED831;
$green:     #8BC53F;
$dark-grey: #4a4a4a;
$light-grey:rgba(184, 184, 184, 0.9);
$shadow:    rgb(139, 139, 139);

$max-page-width: 42rem;

$xs: 22rem;
$sm: 34rem;
$md: 43rem;
$lg: 77rem;

$card-padding-sides: 15px;

$basefont: 14px;

/*
font-family: 'Realtime-Regular';
font-family: 'Realtime-Light';
font-family: 'Realtime-Semibold';
font-family: 'Realtime-Bold';
*/





/*------------------------------------*\
    #ROOT-ELEMENTS
\*------------------------------------*/

body {
    font-family: 'Realtime-Regular', monospace;
    font-weight: normal;
    font-size: $basefont;
    @media(min-width: $sm) {
        font-size: 1rem;
    }
    @media(min-width: $lg) {
        font-size: 1.2rem;
    }
    color: $dark-grey;
    text-align: center;
}

b, i {
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

em {
    font-family: 'Realtime-Light', monospace;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: 'Realtime-SemiBold', monospace;
    font-weight: normal;
}


strong em {
    font-family: 'Realtime-Bold', monospace;
    font-weight: normal;
}

a {
    color: $dark-grey;
    &:hover {
        color: $blue;
    }
}

pre {
    font-size: 0.8em;
    border-left: (0.5rem) solid $light-grey;
    padding-left: (0.5rem);   
}

p,
ul {
    margin-bottom: 1em;
    line-height: 1.5em;  
    margin-left: 0; 
    padding-left: 0;
    list-style-type: none;
}

p {
    margin-top: 0;
}

li {
    margin-bottom: 0.4em;   
    list-style-type: none;
    background: url(../images/bullet.svg) left 0.6em no-repeat;
    background-size: 0.8em 0.6em;   
    margin-left: 0;
    padding-left: 1.2em;
}

img { 
    width: auto;
    max-width: 100%;
    height: auto;
}




/*------------------------------------*\
    #TEXT-STYLES
\*------------------------------------*/

.drop-shadow {
    box-shadow: 0px 3px 0px 0px rgba(139,139,139,0.75);
}





/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.text-shadow {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.btn {
    display: inline-block;
    height: 37px;
    background: $blue;
    border-radius: 8px;
    /* Read More  ▾: */
    font-size: $basefont;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    color: white;
    line-height: 18px;
    padding: 8px 12px;
    text-decoration: none;
    &:hover {
        background: $green;
        color: white;
    }
}




/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page {
    text-align: center;
    width: 100%; // fixes pre/code/.hightlighy {} overflow issues
}




/*------------------------------------*\
    #HEADER-BAR
\*------------------------------------*/

.fixme {
    background-color: $green;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-bar {
    padding-top: 105px;
    padding-bottom: 0.5rem;
    max-width: $max-page-width;
    margin: 0 auto;
    text-align: left;
    background-image: url(../images/alanhead.png); 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 83px 83px;
    background-position: 50% 1rem;
}

.site-title {
    font-size: 3rem;
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;  
    line-height: 1em;
}

.site-subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
}




/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/



.main-nav {
    max-width: $max-page-width;
    margin: 0 auto;
    font-size: 1.3rem;
}

.main-nav__items {
    width: 94%;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.main-nav__item,
.main-nav__item--social {
    background: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: $green;
    padding: 0.3em 0.5em;       
    display: inline-block;
    font-family: 'Realtime-SemiBold', monospace;
    font-weight: normal;
}

.main-nav__item--social {
    text-transform: none;
}

.main-nav__link {
    color: $dark-grey;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        color: $green;
    }
    
}

.main-nav__link--right {
    text-align: right;
    font-size: 0.5em;
}

.main-nav__item--social {
    font-size: 0.9rem;
    color: $dark-grey;
    }




/*------------------------------------*\
    #PAGE-SECTIONS
\*------------------------------------*/

.main,
.footer {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: $max-page-width;
}

.main {
    text-align: left;
    margin-top: 2rem;
}




/*------------------------------------*\
    #BODY-HEADERS
\*------------------------------------*/

.page-title {
    font-family:'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: $blue;
    margin-bottom: 0;
    margin-top: 1rem;
    @media (min-width: $sm) {

    }
}

.title { 
    font-family: 'Popgod';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    color: $blue;
    margin: 0;
    .card__footer + & {
        margin-top: 1em;
    }
    @media (min-width: $sm) {
        font-size: 32px;
        line-height: 36px;
    }
}

.subtitle {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;  
    margin-top: 0;
    margin-bottom: 1em;
    .title + & {
        margin-top: 0.4em;
    }
    @media(min-width: $sm) {
        font-size: 16px;
    }
}




/*------------------------------------*\
    #CARDS
\*------------------------------------*/

.cards {
    margin-top: 2em;
}

.card {
    /* Rectangle 4: */
    background: white;
    padding: 12px ($card-padding-sides / 1.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    line-height: 1;
    border-bottom: 8px solid $yellow;
    margin-bottom: 1em;
    overflow: hidden;
    @media (min-width: $sm) {
        padding-left: $card-padding-sides;
        padding-right: $card-padding-sides;
    }
}

.card__header {
    margin-bottom: 10px;
    min-height: 80px;
    line-height: 0; /* tightens gap between pic and subheader */
}

.circle {
    background-color: $green;
    border-radius: 50%;
    color: white;
    display: block;
    font-family: 'Realtime-Regular', monospace;
    font-size: 20px;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    position: relative;
    padding-top:30px;
    padding-bottom: 30px;
    margin-bottom: -76px;
    .card__header & {
        margin-left: -8px;
    }
}

.circle--date {
    font-size: 18px; 
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle--year {

}

.circle--head {
    background-image: url(../images/alanhead.png); 
    background-size: 78px 78px;
    background-position: center middle;
    background-repeat: no-repeat;
}

.circle--img {
    width: 76px; 
    height: 72px; 
    padding: 4px;
}

.card-offset {
    margin-left: 82px;
}


.card__image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 1px solid $light-grey;
    border-top: none;
}

.card__subtitle {
    display: inline-block;
    background-color: $blue;
    color: white;
    font-weight: normal;
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    line-height: 18px;
    padding: 7px 9px;
    margin: 0;
    width: 100%;
    font-family: 'Realtime-SemiBold', monospace;

}

.card__subtitle--offset {
    padding-left: 82px;
}

.card__footer {
    border-top: 1px dashed rgba(151,151,151,0.50);
    text-align: right;
    padding: 12px ($card-padding-sides) 0 $card-padding-sides;
    width: 104.6%;
    display: inline-block;
    margin-left: (0 - $card-padding-sides);
    margin-top: 10px;
}

.card__link {
    font-family: 'Realtime-SemiBold', monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    @media(min-width: $sm) {
        font-size: 16px;
    }
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-list, 
.blog-post {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1em;
    margin-bottom: 3em;
    background-image: none;
}




/*------------------------------------*\
    #PORTFOLIO-GALLERIES
\*------------------------------------*/

.gallery {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
    background-color: $dark-grey;
}

.gallery__item {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    background-image: none;
    text-align: center;
    img {
        background-color: white;  // in case of png transparency
        max-width: 96%;
        height: auto;
        border: 1px solid white;
    }
}





/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

.footer {
    margin-bottom: 4em;
    text-align: left;
    font-size: 0.9rem;
    
}

.footer__inner {
    border-top: 1px solid #8BC53F;
    border-bottom: 1px solid #8BC53F;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p {
        margin: 0;
    }
}

.footer__list,
.footer__list-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    background: none;
}

.footer__list-item {
    margin-right: 3px; 
}





/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
    margin-bottom: 1em;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid $light-grey;
    padding-right: 5px;
}





/*------------------------------------*\
    #TEXT-ALIGNMENT
\*------------------------------------*/

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }



@import "new-look";
