---
layout: page
---

<header> 
    <h3 class="title">{{ page.site_name }} </h3>
    <h4 class="subtitle">{{ page.skills }} ({{ page.client_name }}, <time 
        datetime="{{ page.date }}">{{ page.year }}</time>)</h4>     
</header>
{% if page.header_image %}
    <img src="{{ site.imageurl}}/headers/{{ page.header_image }}" class="img--border" alt="A 
        screenshot from {{ page.site_name }}" />
{% endif %}
<p class="center"><strong>{{ page.intro }}</strong></p>
{{ content }}
{% if page.link %}
<aside class="button-row">
    <a href="{{ page.link }}" target="_blank" class="button  button-external-link">View 
        {{ page.site_name }}</a>
    {% if page.archived %} {{ include archived_site.html }}{% endif %} 
</aside>
{% endif %}  
{% if page.images %}
   <ul class="gallery">
   {% for picture in page.images %}
        <li class="gallery__item"><img src="{{ site.imageurl}}/galleries/{{ picture }}" alt="" /></li>
    {% endfor %}
    </ul>
    {% if page.link %}
    <aside class="button-row">
        <a href="{{ page.link }}" target="_blank" class="button  button-external-link">View 
            {{ page.site_name }}</a>
        {% if page.archived %} {{ include archived_site.html }}{% endif %} 
    </aside>
    {% endif %}      
{% endif %} 